<div class="box-book">
<h1 class="titulo">Nome do Livro</h1>
<p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
<div class="aolado"><p>Categoria</p>
<p>R$00,00</p></div>

<div class="input-home">
    <input type="submit" class="detalhe"  >
    <input type="submit"  class="editar" >
    <input type="submit"  class="excluir" >
</div>

</div>
















{{!-- <div>
{{#each}}
<div class="box-book">
<h1>{{this.title}}</h1>
<p> {{this.descri}} </p>
<p> {{this.categoyr}} </p>
<p> {{this.preco}} </p>
<p> {{this.quanti}} </p>

</div>
{{/each}}
</div> --}}

